@font-face {
    font-family: 'FrontageCondensedOutline';
    src: url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.eot');
    src: url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.eot') format('embedded-opentype'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.woff2') format('woff2'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.woff') format('woff'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.ttf') format('truetype'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.svg#FrontageCondensedOutline') format('svg');
}
@font-face {
    font-family: 'ZonaProBold';
    src: url('../fonts/zona-pro/ZonaProBold.eot');
    src: url('../fonts/zona-pro/ZonaProBold.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaProBold.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaProBold.woff') format('woff'),
    url('../fonts/zona-pro/ZonaProBold.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaProBold.svg#ZonaProBold') format('svg');
}
@font-face {
    font-family: 'ZonaProExtraLight';
    src: url('../fonts/zona-pro/ZonaProExtraLight.eot');
    src: url('../fonts/zona-pro/ZonaProExtraLight.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaProExtraLight.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaProExtraLight.woff') format('woff'),
    url('../fonts/zona-pro/ZonaProExtraLight.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaProExtraLight.svg#ZonaProExtraLight') format('svg');
}

@font-face {
    font-family: 'ZonaPro-SemiBold';
    src: url('../fonts/zona-pro/ZonaPro-SemiBold.eot');
    src: url('../fonts/zona-pro/ZonaPro-SemiBold.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaPro-SemiBold.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaPro-SemiBold.woff') format('woff'),
    url('../fonts/zona-pro/ZonaPro-SemiBold.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaPro-SemiBold.svg#ZonaPro-SemiBold.svg') format('svg');
}
@font-face {
    font-family: 'ZonaPro-Regular';
    src: url('../fonts/zona-pro/ZonaPro-Regular.eot');
    src: url('../fonts/zona-pro/ZonaPro-Regular.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaPro-Regular.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaPro-Regular.woff') format('woff'),
    url('../fonts/zona-pro/ZonaPro-Regular.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaPro-Regular.svg#ZonaPro-Regular.svg') format('svg');
}


:root {
    --primary-color: rgba(15, 47, 120, 1);
    --seconday-color: rgba(54, 160, 172, 1);
    --black-color: rgba(0, 0, 0, 1);
    --green-color: rgba(0, 90, 61, 1);
    --grey-color: rgba(112, 112, 112, 1);
    --grey-dark-color: rgba(90, 90, 90, 1);
    --grey-light-color: rgba(242, 244, 247, 1);
    --red-color: rgba(179, 67, 62, 1);
    --blue-color: rgba(162, 182, 223, 1)
}

body {
    font-size: 16px;
    background-color: white;
}


h2 {
    font-size: 2.5em;
    font-family: 'ZonaProBold';
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1246px;
}

/* -----------------------------------------------------*/
/* ------------------ HEADER ---------------------------*/
/* -----------------------------------------------------*/
.header{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: max-content;
}


#raw1{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px;
    z-index: 2;
}
#raw1 nav{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    position: relative;  
    background-color: white;
}
.raw1 nav::before {  
    content: '';  
    display: block;  
    height: 100%;  
    width: 100%;  
    position: absolute;    
    top: 0;  
    left: 0;  
    background: inherit;  
    transform: skew(20deg, 0);  
    transform-origin: top left;
}
.raw1 nav::after {  
    content: '';  
    display: block;  
    height: 100%;  
    width: 100%;  
    position: absolute;  
    z-index: -1;  
    top: 0;  
    left: 0;  
    background: inherit;  
    transform: skew(-2deg,0);  
    transform-origin: bottom right;
}

#raw1 nav a{
    font-size: 1em;
    text-decoration: none;
}
#candidat{
    font-family: 'ZonaPro-SemiBold';
    color: rgb(22, 49, 116);
}
#helps{
    font-family: 'ZonaPro-Regular';
    font-size: 12px/17px;
    color: #707070;
}
#raw2{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    z-index: 3;
}
#raw2 img{
    padding: 10px;
    width: 5%;
}
#raw2 nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
#raw2 nav a{
    font-size: 1em;
    text-decoration: none;
    font-family: 'ZonaPro-SemiBold';
    color: white;
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
#search a img{
    width: 65%;
}

/* -----------------------------------------------------*/
/* ---------------- END HEADER -------------------------*/
/* -----------------------------------------------------*/



/* -----------------------------------------------------*/
/* ----------------- Actualités ------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* --------------- END Actualités ----------------------*/
/* -----------------------------------------------------*/



/* -----------------------------------------------------*/
/* ------------------ HEADER ---------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* ---------------- END HEADER -------------------------*/
/* -----------------------------------------------------*/

