
#home-slider{
    position: absolute;
    top: 10px;
    display: flex;
    margin: 10px;
    z-index: 1;
}
#slide{
    width: 100%;
    height: auto;
}
#containerChoice{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
}
#containerChoice button{
    background-color: white;
    padding: 30px;
    border: none;
    font-family: 'ZonaPro-SemiBold';
}

